<!-- To run:
  python -m http.server # Assumes Python 3.
  E http://localhost:8000/validation.html # Open in web browser.  Uses my E alias for Cygwin.
-->
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
      <!-- AngularJS Material CSS. -->
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  </head>
  <body ng-app="Ex9_1App" ng-cloak>
    <!-- My HTML. -->
    <div ng-controller="Ex9_1Controller">
      <p>{{greeting}}</p>

      <!-- The $index service returns the zero-based index of each ng-repeat element. -->
      <p ng-repeat="thing in things">{{$index}}</p>
      <br>

      <!-- ng-repeat blows up if there are duplicates in the list.  Get around it as follows. -->
      <p ng-repeat="duplicate in duplicates track by $index">{{duplicate}}</p>
      <br>

      <!-- Loop over some objects.  Note that duplicate objects don't blow up ng-repeat. -->
      <!-- Use event service to pass event to handler so we can act on specific paragraph clicked. -->
      <!-- The data-id attribute is not necessary.  Just shows you can add custom metadata to any element via data-* attributes. -->
      <p data-id="$index" ng-repeat="object in objects" ng-click="handleClick($event);">
        {{$index}} {{object.name}} {{object.id}}
      </p>

    </div>

    <!-- jQuery. -->
    <script
			src="https://code.jquery.com/jquery-3.3.1.min.js"
			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			crossorigin="anonymous">
		</script>

    <!-- AngularJS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

    <!-- My app. -->
    <script type="text/javascript">
      var app = angular.module('Ex9_1App', ['ngMessages']);

      app.controller("Ex9_1Controller", function($scope) {
        $scope.greeting = "Hello, Pro AngularJS exercise 9.1!";

        $scope.things = ['foo', 'bar', 'baz'];
        $scope.duplicates = ['foo', 'foo', 'foo'];
        $scope.objects = [
          { name: 'Fred', id: 0 },
          { name: 'Fred', id: 0 },
          { name: 'Barney', id: 1 }
        ];

        // Turn each object paragraph green when you click it.
        $scope.handleClick = function (e) {
          var id = $(e.target).data('id'); // Retrieve custom metadata.
          // This is the equivalent of 'this' in jQuery event handlers.
          $(e.target).css("color", "green");
        };

      });
    </script>
  </body>
</html>

