/* Factor the CSS out of the HTML file. */

p {
  color: green;
}

/* Define styling for paragraphs of class "special". */
p.special {
  color: white;
  background-color: green;
}

/* Select an element by id using #. */
#sadParagraph {
  color: blue;
}


