<!doctype html>
<html lang="en_US" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <title>Chapter 14: Events</title>

    <!-- AngularJS requires jQuery. -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous"></script>

    <!-- Include AngularJS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>

    <!-- Include our stylesheet. -->
    <link rel="stylesheet" href="ch14.css" />

    <!-- Include our app module. -->
    <script src="ch14.js"></script>

    <!-- Include our controllers module. -->
    <script src="controllers/controllers.js"></script>

  </head>
  <body>
    <div ng-cloak ng-controller="ModuleCtrl">
      <button ng-click="increment()">+</button>
      <button ng-click="decrement()">-</button>
      {{value}}
      <p ng-show="value % 2 == 0">Even</p>
      <p ng-show="value % 2 != 0">Odd</p>

      <p ng-hide="value >= 0">Negative</p>
      <p ng-hide="value <= 0">Positive</p>
      <p ng-hide="value != 0">Zero</p>

      <p ng-if="value == 7">Lucky</p>
      <p ng-if="value == 13">Unlucky</p>
    </div>
  </body>
</html>