<!doctype html>
<html lang="en_US" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <title>Chapter 5</title>

    <!-- AngularJS requires jQuery. -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
      crossorigin="anonymous"></script>

    <!-- Include AngularJS. -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>

    <!-- Include our stylesheet. -->
    <link rel="stylesheet" href="ch06.css" />

    <!-- Include our app module. -->
    <script type="text/javascript" src="ch06.js"></script>

  </head>
  <body>
    <div ng-cloak ng-controller="MainCtrl">
      <!-- Bind input fields to specific scope variables. -->
      <form>
        <label for="firstName">First Name: </label><input id="firstName" type="text" ng-model="person.firstName" /><br>
        <label for="lastName">Last Name: </label><input id="lastName" type="text" ng-model="person.lastName" /><br>
        <label for="description">Description:</label><br>
        <textarea id="description" rows="4" cols="80" ng-model="person.description"></textarea><br>
        <label for="angularjs">AngularJS?</label><input id="angularjs" type="checkbox" ng-model="person.skills.angularjs" /><br>
        <label for="html">HTML?</label><input id="html" type="checkbox" ng-model="person.skills.html" /><br>
        <button id="addPerson" ng-click="addPerson()">Add Person</button>
      </form>

      <h2>Current Person</h2>
      <p>{{person.firstName}} {{person.lastName}} <span ng-if="person.description">--</span> {{person.description}}</p>
      <p ng-if="person.skills.angularjs">This person knows AngularJS.</p>
      <p ng-if="person.skills.html">This person knows HTML.</p>

      <h2>List of People</h2>
      <ul>
        <li ng-repeat="peep in people">{{peep.firstName}} {{peep.lastName}} <span ng-if="peep.description">--</span> {{peep.description}}</li>
      </ul>
    </div>
  </body>
</html>