<!DOCTYPE html>
<html ng-app="todoApp">
	<head>
		<title>TO DO List</title>
		<!-- Use the Bootstrap framework. -->
		<link href="bootstrap.css" rel="stylesheet">
		<link href="bootstrap-theme.css" rel="stylesheet">

		<!-- Use AngularJS. -->
		<script src="angular.js"></script>
		<script>
			var model = {
				user: "Jeff",
				items: [
					{ action: "Learn Node.js", done: false },
					{ action: "LearnAngularJS", done: false },
					{ action: "Learn PL/SQL", done: false },
					{ action: "Implement JEBTRS", done: false }
				]
			};
			var todoApp = angular.module("todoApp", []);

			// Create an AngularJS controller.
			// $scope is a special AngularJS var to expose some data to views.
			todoApp.controller("ToDoCtrl", function($scope) {
				// The view can see the entire model via $scope.todo.
				$scope.todo = model;
				// Here we define a behavior on the scope--just a function really.
				$scope.incompleteCount = function() {
					var count = 0;
					angular.forEach($scope.todo.items, function(item) {
						if (!item.done) { count++; }
					});
					return count;
				};
				// We'll use this function to dynamically determine what class of label to use.
				// These are Bootstrap CSS class names.
				$scope.warningLevel = function() {
					return ($scope.incompleteCount() < 3) ? "label-success" : "label-warning";
				};
			});
		</script>
	</head>
	<body ng-controller="ToDoCtrl">
		<!-- This is essentially the view in the AngularJS app. -->
		<div class="page-header">
			<!-- Attributes of the $scope var are visible in template placeholder expressions. -->
			<h1>{{todo.user}}'s To Do List</h1>
			<!-- Show just the count of incomplete todo list items. -->
			<!-- Hide the count if there are no incomplete items. -->
			<!-- Note how we're calling controller functions in the ng-hide and ng-class directive values. -->
			<span class="label" ng-hide="incompleteCount() == 0" ng-class="warningLevel()">
				{{incompleteCount()}}
			</span>
		</div>
		<div class="panel">
			<!-- The control to add a new todo list item. -->
			<div class="input-group">
				<input class="form-control">
				<span class="input-group-btn">
					<button class="btn btn-default">Add</button>
				</span>
			</div>
			<!-- The table showing the todo list items. -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Description</th>
						<th>Done</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in todo.items">
						<td>{{item.action}}</td>
						<!-- Two-way data binding. -->
						<td><input type="checkbox" ng-model="item.done"></td>
						<!-- Notice that this does update as you toggle checkboxes. -->
						<!-- So, the compilation does not merely generate static HTML. -->
						<!-- However, the model as defined here does not preserve state across a page refresh. -->
						<td>{{item.done}}</td>
				</tbody>
			</table>
		</div>
	</body>
</html>

