<h2>Find Underwater Tokens Game</h2>
<div class="row">
  <div class="col-sm-12">
    <h4>Tokens to collect: {{$ctrl.tokens}}</h4>
    <button class="btn btn-sm"
      ng-click="$ctrl.increment()"
      ng-disabled="$ctrl.tokens >= 100">
      +
    </button>
    <button class="btn btn-sm"
      ng-click="$ctrl.decrement()"
      ng-disabled="$ctrl.tokens <= 0">
      -
    </button>
    <collected-tokens
      to-get="$ctrl.tokens"
      collected="$ctrl.collected">
    </collected-tokens>
    <diver-panel ng-repeat="diver in $ctrl.divers"
      diver="diver"
      on-changed="$ctrl.changed(diff)">
    </diver-panel>
  </div>
</div>