<!DOCTYPE html>
<html ng-app="diveLog">
<head>
  <title>Dive Log (ng-controller)</title>
  <link href="./lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
  <div class="container-fluid">
    <h1>My Latest Dives (with API service)</h1>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8">
        <input class="form-control input-lg" 
               placeholder="Search" 
               ng-model="searchKey" />
      </div>
    </div>
    <div class="row" ng-controller="diveLogCtrl">
      <div class="col-sm-4"
           ng-repeat="dive in dives | filter:searchKey">
        <h3>{{dive.site}}</h3>
        <h4>{{dive.location}}</h4>
        <h2>{{dive.depth}} feet | {{dive.time}} min</h2>
      </div>
    </div>
  </div>

  <script src="./lib/angular/angular.min.js"></script>
  <script src="dives.js"></script>
</body>
</html>
