<!DOCTYPE html>
<html ng-app>
<head>
  <title>Dive Buddy</title>
  <link href="./lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="margin-top:24px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <label for="buddyEdit">Buddy Name:</label>
        <input id="buddyEdit" class="form-control"
               ng-init="buddies = []"
               ng-list
               ng-model="buddies" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h3>
          <ng-pluralize count="buddies.length"
            when="{0: 'You have no dive buddy.', 
                   1: 'You have a single dive buddy:', 
                   'other': 'You have {{buddies.length}} buddies:' }">
          </ng-pluralize>
        </h3>
        <div ng-repeat="buddy in buddies">
        <strong>{{buddy}}</strong>
        </div>
      </div>
    </div>
  </div>

  <script src="./lib/angular/angular.min.js"></script>
</body>
</html>