body {
	/* The path is relative to the location of this CSS file. */
	background-image: url("../images/grid.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-attachment: fixed; /* Don't scroll with its element. */
}

