p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;

}

/* This is a custom paragraph class. */
/* Usage: <p class="classy">I'm a classy paragraph.</p> */
p.classy {
  font-family: cursive;
  font-size: 1.4em;

}

p.important {
	/* The scale is 100 min to 900 max font weight. */
	/* It's essentially how bold the font is. */
	font-weight: 900;
	font-size: 1.5em;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-senif;
  font-size: 2em;
}

/* This CSS class applies to any tag. */
.typewriter {
  font-family: "Courier New", Courier, monospace
}


.naples {
	font-style: italic;
}

/* We'll use this style in a <span>. */
.spanish {
	font-weight: bolder;
}


/* Specify color by RGB hex value. */
.colorful {
	color: #cc0000;
}

/* Specify color by a color name. */
.red {
	color: red;
}

p.justified {
	text-align: justify;
}

p.centered {
	text-align: center;
}

p.indented {
	text-indent: 1em;
}

blockquote {
	font-size: .7em;
	color: gray;
}

/* Use a grouping for elements that share style properties. */
h3, h4 {
	text-align: center;
}

p.margins {
	margin: 1em;
}

/* A paragraph in a red box. */
.redbox {
	border: 5px solid red;
	padding: .2em;
}

h2.uvuxmas {
	border: 2px dashed red;
	color: green;
	font-family: cursive;
}

/* A CSS id.  Can apply to just one element of a web page. */
h2#citrus {
	color: orange;
}

div#topbar {
	margin-left: 3em;
	margin-right: 3em;
	font-family: Arial, Helvetica, sans-senif;
	border: 1px solid green;
}

/* Make font in any paragraph in the topbar div twice as big. */
/* This is an example of a more advanced CSS selector. */
div#topbar p {
	font-size: 2em;
}

/* Make an image class that acts as a block element. */
/* Block elements always stack on top of each other, never side-by-side. */
img.stackable {
	display: block;
}

/* Make image a block element with a left margin to position it more exactly. */
img.positioned {
	margin-left: 10em;
	display: block;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* An image class that "floats"--text wraps around it. */
img.floating {
	float: left;
	margin: 0 1em 1em 0;
}

p.stop-wrapping {
	clear: both; /* Stop wrapping around any floating elements. */
}

a {
	color: grey;
}

/* Hovered over links become orange. */
a:hover {
	color: orange;
}

/* Add space between list items. */
li {
	margin: .5em;
}

/* Use square bullets for list items instead of round ones. */
ul {
	list-style-type: square;
}

/* Add a border to all table cells. */
th, td {
	border: 1px solid black;
	padding: .25em; /* Give each cell some breathing room. */
	width: 20%; /* Each cell is 20% of a table. */
}

/* Make the borders of adjacent cells collapse into a single border. */
table {
	border-collapse: collapse;
}

table#tools {
	width: 75%; /* The table is 75% of the width of the page. */
	/* Center align text in all table cells. */
	text-align: center;
	vertical-align: center;
}

/* You can use different row classes to alternate background color of table rows. */
tr.alternate {
	background-color: lightgray;
}

/* <element>[<attribute>="<value>"] is a new form of CSS selector we haven't seen yet. */
/* It constrains the elements the style applies to to those that have the given attribute value. */
input[type="text"], textarea {
	font-size: 1.5em;
	padding: .5em;
}

/* A narrow, centered div. */
div#skinny {
	width: 20%; /* Narrow. */
	margin: 0 auto 0 auto; /* Centered. */
	border: 1px dashed purple;
	background-image: url("images/tile.jpg");
}


/* A left-floating div. */
div#lefty {
  width: 48%;
  float: left;
  /* border: 1px dotted green; */
}

/* A right-floating div. */
div#righty {
  width: 48%;
  float: right;
  /* border: 1px dotted green; */
}

/* A generic class just to clear floatingness. */
.anchor {
  width: 0%;
  margin: 0 0 0 0;
  padding: 0;
  clear: both;
}


/* The header at the top of the page. */
div#header {
  width: 100%;
  /* position: absolute; */
  /* This will stay at the top of the page even as the rest of the page scrolls. */
  position: fixed;
  top: 0;
  left: 0;
  background-color: lightgrey;
}

div#invisible-header {
  width: 100%;
  visibility: hidden;
}

/* Style links within the header div. */
div#header a {
  color: blue;
  margin-left: .2em;
}

div#invisible-header a {
  visibility: hidden;
  margin-left: .2em;
}

div#header a:hover {
  color: orange;
}

div#invisible-header a:hover {
  visibility: hidden;
}

div#header img {
  float: left;
  margin: 1em;
}

div#invisible-header img {
  float: left;
  margin: 1em;
  visibility: hidden;
}

div#content {
  float: right;
  width: 82%;
  background-image: url("images/tile.jpg");
}

/* Under the header, we'll have a navbar and content div side-by-side. */
div#navbar {
  float: left;
  width: 10%;
  width: 15%;
  background-color: #f0f0f0;
  position: fixed;
  display: inline-block; /* Shrink to fit content. */
}

/* Make the navbar list have no bullets. */
div#navbar ul {
  list-style-type: none;
  /* Lists have some default left padding, so let's get rid of it. */
  padding-left: 0;
}

/* Add some padding around the list items. */
div#navbar ul li {
  background-color: blue;
  margin: 0 0 .25em 0;
}

div#navbar ul li a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: 900;
  text-decoration: none; /* Do not underline links. */
  display: block;
  padding: .35em;
}

div#navbar ul li a:hover {
  color: yellow;
}

/* Under the header, we'll have a hnavbar and content div side-by-side. */
div#hnavbar {
  width: 100%;
}

/* Make the hnavbar list have no bullets. */
div#hnavbar ul {
  list-style-type: none;
}

div#hnavbar ul li {
  background-color: blue;
  text-align: center;
  display: inline; /* Put elements side-by-side. */
  width: 19%;
  float: left;
  margin-right: .5em;
}

/* This don't quite work because the a blocks the li from going into hover state. */
div#hnavbar ul li:hover {
  background-color: lightblue;
}

div#hnavbar ul li:active {
  background-color: darkblue;
}

/* Style the anchors (links) within the hnavbar.*/
div#hnavbar ul li a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 900;
  text-decoration: none; /* Remove underlining. */
  display: block;
  background-color: blue; 
  color: purple;
  padding: .75em;
}

div#hnavbar ul li a:hover {
  color: orange;
}


/* FAIL: These don't work.  Works on standalone li but not the ones in hnavbar. */
/* Maybe the pathed hnavbar styling interferes with this. */
/* A list item that changes background color when hovered over. */
li.colorChanger {
  background-color: green;
}

li.colorChanger:hover {
  background-color: lightgreen;
}

/* I think this is the state of the element when it's clicked. */
li.colorChanger:active {
  background-color: darkgreen;
}


