p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;

}

/* This is a custom paragraph class. */
/* Usage: <p class="classy">I'm a classy paragraph.</p> */
p.classy {
  font-family: cursive;
  font-size: 1.4em;

}

p.important {
	/* The scale is 100 min to 900 max font weight. */
	/* It's essentially how bold the font is. */
	font-weight: 900;
	font-size: 1.5em;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-senif;
  font-size: 2em;
}

/* This CSS class applies to any tag. */
.typewriter {
  font-family: "Courier New", Courier, monospace
}


.naples {
	font-style: italic;
}

/* We'll use this style in a <span>. */
.spanish {
	font-weight: bolder;
}


/* Specify color by RGB hex value. */
.colorful {
	color: #cc0000;
}

/* Specify color by a color name. */
.red {
	color: red;
}

p.justified {
	text-align: justify;
}

p.centered {
	text-align: center;
}

p.indented {
	text-indent: 1em;
}

blockquote {
	font-size: .7em;
	color: gray;
}

h3 {
	text-align: center;
}

p.margins {
	margin: 1em;
}


