p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;

}

/* This is a custom paragraph class. */
/* Usage: <p class="classy">I'm a classy paragraph.</p> */
p.classy {
  font-family: cursive;
  font-size: 1.4em;

}

p.important {
	/* The scale is 100 min to 900 max font weight. */
	/* It's essentially how bold the font is. */
	font-weight: 900;
	font-size: 1.5em;
}

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-senif;
  font-size: 2em;
}

/* This CSS class applies to any tag. */
.typewriter {
  font-family: "Courier New", Courier, monospace
}


.naples {
	font-style: italic;
}

/* We'll use this style in a <span>. */
.spanish {
	font-weight: bolder;
}


/* Specify color by RGB hex value. */
.colorful {
	color: #cc0000;
}

/* Specify color by a color name. */
.red {
	color: red;
}

p.justified {
	text-align: justify;
}

p.centered {
	text-align: center;
}

p.indented {
	text-indent: 1em;
}

blockquote {
	font-size: .7em;
	color: gray;
}

/* Use a grouping for elements that share style properties. */
h3, h4 {
	text-align: center;
}

p.margins {
	margin: 1em;
}

/* A paragraph in a red box. */
.redbox {
	border: 5px solid red;
	padding: .2em;
}

h2.uvuxmas {
	border: 2px dashed red;
	color: green;
	font-family: cursive;
}

/* A CSS id.  Can apply to just one element of a web page. */
h2#citrus {
	color: orange;
}

div#topbar {
	margin-left: 3em;
	margin-right: 3em;
	font-family: Arial, Helvetica, sans-senif;
	border: 1px solid green;
}



