<html ng-app="exampleApp">
  <head>
    <meta charset="utf-8" />
    <title>Filters</title>

    <!-- Bootstrap CSS. -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <!-- Bootstrap CSS theme. -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">

    <!-- AngularJS Material CSS. -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">

    <!-- jQuery. -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>

    <!-- AngularJS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- Bootstrap JavaScript. -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous">
    </script>

    <script>
      angular.module("exampleApp", []) .controller("defaultCtrl", function ($scope) {
        $scope.products = [
          { name: "Apples", category: "fruit", price: 1.20, expiry: 10 },
          { name: "Oranges", category: "fruit", price: 2.42, expiry: 7 },
          { name: "Pears", category: "fruit", price: 2.02, expiry: 6 },
          { name: "Ribeye", category: "meat", price: 20.45, expiry: 3 },
          { name: "Filet", category: "meat", price: 17.93, expiry: 2 },
          { name: "New York Strip", category: "meat", price: 12.93, expiry: 4 },
          { name: "Milk", category: "drinks", price: 2.99, expiry: 14 },
          { name: "Egg Nog", category: "drinks", price: 8.99, expiry: 7 },
          { name: "Coco Lopez", category: "drinks", price: 3.99, expiry: 365 }
        ];

        $scope.getExpiryDate = function (days) {
          var now = new Date();
          return now.setDate(now.getDate() + days);
        };

        $scope.ucfirst = function (s) {
          return s.charAt(0).toUpperCase() + s.slice(1);
        }

        // User can limit table to only showing one of these #s of objects.
        $scope.maxProductsDisplayLimit = "2";
        $scope.limitRange = [];
        for (var i = 0; i <= $scope.products.length; i += 2) {
          $scope.limitRange.push(i.toString());
        }

        var categories = [""]; // Empty string means any category.
        var seen = {};
        for (var i = 0; i < $scope.products.length; i++) {
          var category = $scope.products[i].category;
          if (!seen[category]) {
            categories.push(category);
            seen[category] = true;
          }
        }
        $scope.categories = categories;
        $scope.selectedCategory = ""; // Null filter out all categories.

      });

      // Define a custom filter.
      // The invert argument to the filter lowercases the first letter and uppercases the rest.
      // | ucfirst: true
      angular.module("exampleApp").filter("ucfirst", function () {
        return function (data, invert) {
          if (angular.isString(data)) {
            var intermediate = invert ? data.toUpperCase() : data.toLowerCase();
            return (invert ? intermediate[0].toLowerCase() :
              intermediate[0].toUpperCase()) + intermediate.substr(1);
          }
          else {
            return data;
          }
        };
      });

      // Define a filter in terms of another filter.
      angular.module("exampleApp").filter("weird", function ($filter) {
        return function (data) {
          data = $filter("ucfirst")(data, true);
          data = '_' + data + '_';
          return data;
        };
      });
    </script>
  </head>
  <body ng-controller="defaultCtrl">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          Products
          <span class="label label-primary">{{products.length}}</span>
        </h3>
      </div>

      <!-- Let user select max # of products to show in the table. -->
      <div class="panel-body">
        Limit: <select ng-model="maxProductsDisplayLimit" ng-options="item for item in limitRange"></select>
      </div>

      <!-- Let user filter by product category. -->
      <div class="panel-body">
        Category: <select ng-model="selectedCategory" ng-options="ucfirst(category) for category in categories"></select>
      </div>

      <div class="panel-body">
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <td>Name</td>
              <td>Weird Name</td>
              <td>Category</td>
              <td>Expiry</td>
              <td class="text-right">Price</td>
            </tr>
          </thead>
          <tbody>
            <!-- If selectedCategory is null here, no products match. -->
            <!-- If selectedCategory is "" here, it partially matches all categories. -->
            <!-- You can use a strict option with the filter filter to force exact matches. -->
            <tr ng-repeat="p in products |
              limitTo: maxProductsDisplayLimit |
              filter: {category: selectedCategory} |
              orderBy: 'price'">
              <td>{{p.name}}</td>
              <td>{{p.name | weird}}</td>
              <td>{{p.category | ucfirst}}</td>
              <td>{{getExpiryDate(p.expiry) | date}}</td>
              <td class="text-right">{{p.price | currency}}</td>
            </tr>
          </tbody>
        </table>
        <!-- Show the JSON for each product. -->
        <table class="table table-striped table-bordered table-condensed">
          <thead>
            <tr>
              <td>JSON<td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in products">
              <td>{{p | json}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>

