<!-- To run:
  python -m http.server # Assumes Python 3.
  E http://localhost:8000/form.html # Open in web browser.  Uses my E alias for Cygwin.
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!-- AngularJS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>

  <!-- We're using an anonymous app module, $rootScope, and no controller. -->
  <!-- By using ng-init, we can get away without using a <script> element. -->
  <!-- It sets $rootScope.greeting. -->
  <body ng-app ng-cloak ng-init="greeting = 'Hello, form!'">
    <div>
      <!-- The extra space keeps the paragraph from going away when greeting is "". -->
      <p>{{greeting}}&nbsp;</p>
    </div>
    <form name="myForm">
      <label for="greetingInput">Greeting: </label>
      <!-- ng-trim trims all leading/trailing whitespace. -->
      <!-- Use a JavaScript regexp literal (surrounded by //) to make ng-pattern work.  -->
      <input
        id="greetingInput" name="myField" type="text"
        ng-model="greeting" ng-trim="true" ng-pattern="/^Hello, .*!$/"
      />
      <!-- Disable the submit button if the form is not valid. -->
      <!-- Have to use onlcick below since alert() is not visible in $rootScope context. -->
      <input type="submit" value="Click Me!"
        ng-disabled="myForm.$invalid"
        onclick="alert('Submitted.');"
      />
      <!-- Show validation error message. -->
      <!-- Note that invalid input is not synced back to $rootScope. -->
      <!-- Note how the validation field is based on the name attribute of the form and input element. -->
      <!-- Note how the type of error is based on the validation directive (ng-pattern). -->
      <!-- <form name>.<input name>.$error.<validator name sans ng- prefix> -->
      <p style="color: red" ng-if="myForm.myField.$error.pattern">Invalid greeting!</p>
    </form>
  </body>
</html>


