<!-- To run:
  python -m http.server # Assumes Python 3.
  E http://localhost:8000/md-select.html # Open in web browser.  Uses my E alias for Cygwin.
-->
<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- AngularJS Material CSS. -->
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
  </head>
  <body ng-app="SimpleApp" ng-cloak>
    <!-- My HTML. -->
    <div ng-controller="SimpleController">
      <p>{{greeting}}</p>

      <!-- Fixed set of options to choose from, directly embedded in the HTML.  -->
      <span>Choose the type of pizza crust and topping you want: </span>
      <md-select ng-model="selectedCrust" placeholder="Type of crust">
        <md-option value="thin">Thin</md-option>
        <md-option value="normal">Normal</md-option>
        <md-option value="pan">Pan</md-option>
      </md-select>

      <!-- Use a set of options that can be dynamically loaded. -->
      <md-select ng-model="selectedTopping" ng-model-options="{trackBy: '$value.id'}" placeholder="Topping of choice">
        <md-option ng-value="topping" ng-repeat="topping in toppings">{{topping.name|capitalize}}</md-option>
      </md-select>

      <p ng-if="selectedCrust">You have chosen {{selectedCrust}} crust.</p>
      <p ng-if="selectedTopping">Your topping of choice is {{selectedTopping.name}}.</p>

    </div>

    <!-- AngularJS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

    <!-- AngularJS Material. -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

    <!-- My app. -->
    <script type="text/javascript">
      var app = angular.module('SimpleApp', ['ngMaterial', 'ngMessages']);

      // Filter to capitalize the first letter of string.
      app.filter('capitalize', function() {
        return function(input) {
          return (!!input) ? input.charAt(0).toUpperCase() + input.substr(1).toLowerCase() : '';
        }
      });

      app.controller("SimpleController", function($scope) {
        $scope.greeting = "Hello, AngularJS Material <md-select>!";
        $scope.selectedCrust = null;
        $scope.selectedTopping = null;

        $scope.toppings = [
          { id: 1, name: "olives" },
          { id: 2, name: "pepperoni" },
          { id: 3, name: "pineapple" },
          { id: 4, name: "bacon" }
        ];

      });
    </script>
  </body>
</html>

