body {
  font-family: Verdana, Arial, sans-serif;
}

h1 {
  color: white;
  background-color: navy;
}

  h1:hover {
    color: navy;
    background-color: lightgray;
    
    /* Animate all style attributes over 500 milliseconds. */
    /* These are browser-specific attributes.. */
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    /* This is a CSS3 attributes. */
    transition: all 500ms ease-in-out;
  }

h2 {
  color: green;
  margin-left: 40px;
  border-bottom: 4px dotted black;
}
