/* Style the heading created by our custom directive. */
#jsa-title1 {
    background: bisque;
    display: inline-block;
    padding: .25em;
}

/* Style the div created by our 2nd custom directive. */
.jsa-pane {
    background: darksalmon;
    border: 1px solid cadetblue;
}

/* Style the div created by our custom element directive. */
.jsa-red {
    border: 3px dotted indianred;
    display: inline-block;
}